* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.primary {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid cornflowerblue;
  width: 100vw;
  height: 15vh;
  text-align: center;
  
}

.sideBar {
  border: 2px solid cornflowerblue;
  width: 20vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideBar li {
  list-style: none;
  border: 1px solid cornflowerblue;
  margin: .5rem 0 .5rem 0;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px;
}

.sideBar li:hover {
  background: cornflowerblue;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.content {
  border: 2px solid cornflowerblue;
  width: 80vw;
  height: 75vh;
}

.foot {
  display: flex;
  align-items: center;
  border: 2px solid cornflowerblue;
  width: 100vw;
  height: 10vh;
  /*text-align: center;*/
  justify-content:space-around;
 
}

i {
  color: cornflowerblue;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}