* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.primary {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color: cornflowerblue;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 100vw;
  height: 15vh;
  text-align: center;
  
}

.navBar {
  
  width: 13vw;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

.navBar li {
  list-style: none;
  
  margin: .5rem 0 .5rem 0;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px;
  background-color: whitesmoke;
}

.navBar li:hover {
  background: orange;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.content {
  width: 85vw;
  height: 75vh;
  background-color: cornflowerblue;
  
}

.foot {
  display: flex;
  align-items: center;
 
  width: 100vw;
  height: 10vh;
  background-color: cornflowerblue;
  justify-content:space-around;
 
}

i {
  color: orange
}

.skills {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

iframe {
  border-radius: 2rem;
  
}
